# dependencies
node_modules/
package-lock.json

# SvelteKit build outputs
.svelte-kit/
build/

# local env files
.env
.env.*

# IDE/editor settings
.vscode/
*.swp
*.swo
*.log

# system files
.DS_Store
Thumbs.db

# Vercel
.vercel/

# TypeScript
*.tsbuildinfo
