@import './variables';

:root {
	font-family: $font-family;
	color: $color-mossy;
	background: $color-bg;
}

html {
	font-size: 20px;
}

body {
	margin: 0;
	padding: 0;
	background: $color-bg;
	color: $color-mossy;
	font-family: $font-family;
	font-size: 1rem;
}

body::before {
	content: '';
	position: fixed;
	inset: 0;
	background-image: url('/textures/grain.png');
	background-repeat: repeat;
	background-size: auto;
	mix-blend-mode: soft-light;
	opacity: 0.1;
	pointer-events: none;
	z-index: 0;
}

.valley-header {
	position: absolute;
	top: 0;
	left: 2%;
	width: 100%;
	text-align: left;
	color: $color-mossy;
	font-size: 0.75rem;
	letter-spacing: 0.05em;

	border-bottom: 1px dashed;

	.blinker {
		margin-left: 0.1rem;
		color: $color-mossy;
		animation: blink 1s steps(2, start) infinite;
	}
}

.portfolio-grid {
	display: grid;
	grid-template-columns: 200px 1fr 2fr;
	gap: 1.5rem;
	padding: 2rem;
	padding-top: 6rem;
}

.nav-stuff {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;

	a {
		color: $color-mossy;
		text-decoration: none;
		font-size: 1rem;
		display: flex;
		align-items: center;
		position: relative;
		padding: 0.2rem 0;
	
		.caret {
			margin-right: 0.5rem;
		}

		.blinker {
			margin-left: 0.1rem;
			color: $color-dusk;
			animation: blink 0.65s steps(2, start) infinite;
		}

		&:hover {
			color: $color-moonlight;
			text-shadow: 0 0 5px $color-moonlight;
		}

		&.active {
			font-weight: bold;
			color: $color-dusk;
		}
	}

	border: 1px solid $color-ember;
	border-radius: $radius;
	padding: 1rem;
}

.project-list,
.project-log-pane {
	border: 1px solid $color-ember;
	border-radius: $radius;
	padding: 1rem;
	background: $color-bg;
}

.tags {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 0.25rem;
	margin-bottom: 1rem;
}

.project-list {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	font-size: 1rem;
}

.project-log {
	.section {
		margin-top: 1rem;
		padding-top: 0.5rem;
		border-top: 1px dashed $color-ember;
	}
}

a:hover, button:hover {
	color: $color-twilight;
	transition: color $transition;
}

@keyframes blink {
	0% { opactity : 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}

@keyframes blink-header {
	0% { opactity : 1; }
	50% { opacity: 0.5; }
	100% { opacity: 1; }
}

@keyframes floaty {
	from {
		transform: translateY(0);
	}
	to {
		transform: translateY(-6px);
	}
}
